<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- start section footer -->
<div id="footer" class="text-center" th:fragment="copyright">
    <div class="container">
        <div class="socials-media text-center">

            <ul class="list-unstyled">
                <li><a href="https://www.facebook.com"><i class="ion-social-facebook"></i></a></li>
                <li><a href="https://twitter.com"><i class="ion-social-twitter"></i></a></li>
                <li><a href="https://plus.google.com"><i class="ion-social-googleplus"></i></a></li>
            </ul>

        </div>

        <p>&copy; Copyrights Car Rental. All rights reserved.</p>
    </div>
</div>
<!-- End section footer -->

</body>

</html>



