<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title>About</title>
</head>

<body>
    <!-- start section header -->
    <div id="header" class="home" layout:fragment="custom-content">

        <!-- start section about us -->
        <div id="about" class="paddsection">
            <div class="container">
                <div class="row justify-content-between">

                    <div class="col-lg-4 ">
                        <div class="div-img-bg">
                            <div class="about-img">
                                <img src="images/me.jpg" class="img-responsive" alt="me">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="about-descr">

                            <p class="p-heading">JAHAN in Bangladesh</p>
                            <p class="separator">
                            <p><u><b><i>JAHAN car rental</i></b></u> service in Bangladesh take you through an amazing journey
                                while providing you with the
                                flexibility of exploring this diverse nation at your own pace. We have our car hire outlets
                                located
                                at all the major location in Bangladesh making it really convenient for our clients to pick up
                                their
                                chosen car.No matter how short.</p></p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end section about us -->
    </div>
    <!-- start sectoion contact -->

<!-- End section footer -->



</body>

</html>
