<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title>Carlist</title>
</head>

<body>
    <!-- start section header -->
    <div  layout:fragment="custom-content">

        <!-- start section portfolio -->
        <div id="portfolio" class="text-center paddsection">

            <div class="container">
                <br/>
                <div class="section-title text-center">
                    <h2>Our Car's</h2>
                </div>
            </div>

            <div class="container">
                <br/>
                <div class="row">

                    <div class="col-md-12">

                        <table class="table">
                            <tr>
                                <th>Car Name</th>
                                <th>Regestration Number</th>
                                <th>Color</th>
                                <th>Date of Manufacturing</th>
                                <th>Rent Cost(per day)</th>

                            </tr>
                            <tr>
                                <td>TaTa Nano</td>
                                <td>101</td>
                                <td>red</td>
                                <td>02-JAN-2018</td>
                                <td>10000</td>
                            </tr>
                            <tr>
                                <td>Yamaha</td>
                                <td>102</td>
                                <td>white</td>
                                <td>02-JAN-2018</td>
                                <td>7000</td>
                            </tr>
                            <tr>
                                <td>Korola</td>
                                <td>103</td>
                                <td>black</td>
                                <td>02-JAN-2018</td>
                                <td>8000</td>
                            </tr>
                            <tr>
                                <td>Toyota</td>
                                <td>104</td>
                                <td>blue</td>
                                <td>03-JAN-2018</td>
                                <td>7000</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                        </table>


                    </div>
                </div>
            </div>

        </div>


    </div>



</body>

</html>
