<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title>Car</title>
</head>

<body>
    <!-- start section header -->
    <div  layout:fragment="custom-content">

        <!-- start section portfolio -->
        <div id="portfolio" class="text-center paddsection">

            <div class="container">
                <br/>
                <div class="section-title text-center">
                    <h2>Our Car's</h2>
                </div>
            </div>

            <div class="container">
                <br/>
                <div class="row">

                    <div class="col-md-12">

                        <div class="portfolio-list">

                            <ul class="nav list-unstyled" id="portfolio-flters">
                                <li class="filter filter-active" data-filter=".all">all</li>
                                <li class="filter" data-filter=".branding">non-branded</li>
                                <li class="filter" data-filter=".mockups">branded</li>
                                <li class="filter" data-filter=".uikits">comfortable</li>
                                <li class="filter" data-filter=".webdesign">high range</li>
                                <li class="filter" data-filter=".photography">low range</li>
                            </ul>

                        </div>

                        <div class="portfolio-container">

                            <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding uikits webdesign">
                                <a class="popup-img" href="images/portfolio/1.jpg">
                                    <img src="images/portfolio/1.jpg" alt="img">
                                </a>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits photography">
                                <a class="popup-img" href="images/portfolio/2.jpg">
                                    <img src="images/portfolio/2.jpg" alt="img">
                                </a>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding webdesig photographyn">
                                <a class="popup-img" href="images/portfolio/3.jpg">
                                    <img src="images/portfolio/3.jpg" alt="img">
                                </a>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups webdesign photography">
                                <a class="popup-img" href="images/portfolio/4.jpg">
                                    <img src="images/portfolio/4.jpg" alt="img">
                                </a>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding uikits photography">
                                <a class="popup-img" href="images/portfolio/5.jpg">
                                    <img src="images/portfolio/5.jpg" alt="img">
                                </a>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits webdesign">
                                <a class="popup-img" href="images/portfolio/6.jpg">
                                    <img src="images/portfolio/6.jpg" alt="img">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End section portfolio -->


        <!-- start section journal -->

        <!-- End section journal -->


        <!-- start sectoion contact -->
        <div id="contact" class="paddsection">
            <div class="container">
                <div class="contact-block1">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="contact-contact">

                                <h2 class="mb-30">GET IN TOUCH</h2>

                                <ul class="contact-details">
                                    <li><span>23 Dhanmondi, road-5</span></li>
                                    <li><span>Dhaka,Bangladesh.</span></li>
                                    <li><span>+88 01912704287</span></li>
                                    <li><span>car_rental@gmail.com</span></li>
                                </ul>

                            </div>
                        </div>

                        <div class="col-lg-6">

                            <h2 class="mb-30">Cars Registration Form</h2>

                            <form action="" method="post" role="form" class="contactForm">
                                <div class="row">

                                    <div id="sendmessage">Thank you!</div>
                                    <div id="errormessage"></div>

                                    <div class="col-lg-6">
                                        <div class="form-group contact-block1">
                                            <label>Car Name : </label>
                                            <input type="text" name="name" class="form-control" id="name" placeholder="Car Name"
                                                   data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>
                                            <div class="validation"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Registration Number : </label>
                                            <input type="text" class="form-control" name="reg_no" id="reg_no"
                                                   placeholder="reg number" data-rule="seat" data-msg=""/>
                                            <div class="validation"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Color : </label>
                                            <input type="text" class="form-control" name="color" id="color" placeholder="color"
                                                   data-rule="minlen:4" data-msg=""/>
                                            <div class="validation"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Date of manufacturing : </label>
                                            <input type="text" class="form-control" name="date_of_manufacturing" id="date_of_manufacturing"
                                                   placeholder="Date" data-rule="minlen:4" data-msg=""/>
                                            <div class="validation"></div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Rent Cost : </label>
                                            <input type="text" class="form-control" name="rentcost" id="rentcost"
                                                   placeholder="rent cost" data-rule="minlen:4" data-msg=""/>
                                            <div class="validation"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <input type="submit" class="btn btn-defeault btn-send" value="submit">
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- start sectoion contact -->

    </div>
    <!-- start sectoion contact -->

<!-- End section footer -->


</body>

</html>
