<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title>customerDetail</title>
</head>

<body>
    <!-- start section header -->
    <div  layout:fragment="custom-content">

        <!-- start section portfolio -->
        <div id="portfolio" class="text-center paddsection">

            <div class="container">
                <br/>
                <div class="section-title text-center">
                    <h2>Customer Details</h2>
                </div>
            </div>

            <div class="container">
                <br/>
                <div class="row">

                    <div class="col-md-12">

                        <table class="table">
                            <tr>
                                <th>Login Name</th>
                                <th>Registration Date</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date of Birth</th>
                                <th>Password</th>
                            </tr>
                            <tr>

                                <td>Mr. Rahman</td>
                                <td>02-JAN-2018</td>
                                <td>rahman@gmail.com</td>
                                <td>Mr.</td>
                                <td>Rahman</td>
                                <td>02-JAN-1978</td>
                                <td>123</td>
                            </tr>
                            <tr>

                                <td>Mr. Karim</td>
                                <td>02-JAN-2018</td>
                                <td>Karim@gmail.com</td>
                                <td>Mr.</td>
                                <td>Karim</td>
                                <td>22-JAN-1978</td>
                                <td>123</td>

                            </tr>
                            <tr>
                                <td>Mr. Amin</td>
                                <td>02-JAN-2018</td>
                                <td>Amin@gmail.com</td>
                                <td>Mr.</td>
                                <td>Amin</td>
                                <td>12-JAN-1975</td>
                                <td>123</td>
                            </tr>
                            
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                        </table>


                    </div>
                </div>
            </div>

        </div>


    </div>



</body>

</html>
