<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title></title>
</head>

<body>
    <!-- start section header -->
    <div id="header" class="home" layout:fragment="custom-content">

        <div class="container">
            <div class="header-content">
                <h2>Jahan</h2>
                <h1><span class="typed"></span></h1>
                <p>Enjoy the ride...</p>

                <ul class="list-unstyled list-social">
                    <li><a href="https://www.facebook.com"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="https://twitter.com"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="https://plus.google.com"><i class="ion-social-googleplus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- End section journal -->





</body>

</html>
